.first_img {
  margin-top: 0px;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.hero {
  max-width: 300px;
  vertical-align: middle;
  margin: 24px;
}
